#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  color: white;
  background-color: black;
}

.Section {
  flex-grow: 1;
  align-content: center;
}

.google-sans-code-font {
  font-family: 'Google Sans Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
